logs/
npm-debug.log
yarn-error.log
node_modules/
package-lock.json
coverage/
dist/
.idea/
run/
.DS_Store
*.sw*
*.un~
.tsbuildinfo
.tsbuildinfo.*
.audit
**/files-cache/**/
!**/files-cache/qrcode/
!**/files-cache/gitlab/
**/files-cache/qrcode/*.png
temp/
front-end-requirements